.signin-Form, .buttons-div{
	margin-right: auto;
	margin-left: auto;
	width: 40%;

}

.form-box{
	color: rgb(0, 118, 182);
	display: block;
	font-family: Helvetica;
	font-size: 18px;
	width: 400px;
	height: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #909090;
	border-radius: 5px;
}

.form-box:hover{
	background-color: #F2FBFE;
	border-color: #0076B6;
}

.form-text{
	margin-top: 6px;
	margin-bottom: 1px;
	font-family: sans-serif;
	color: rgb(0, 57, 93);
	font-size: 16px;
	font-weight: 100;
}

.form-buttons{
	background-color: #0076B6;
	color: white;
	border-style: none;
	margin-right: 30px;
	width: 80px;
	height: 30px;
	border-radius: 15px;
	margin-top: 10px;

}

.form-buttons:hover{
	cursor: pointer;
	opacity: 0.8;

}

.title-Thing{
	font-family: Helvetica;
	font-size: 30px;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	background-color: #F2FBFE;
}